<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gợi ý cải thiện</title>
        <!-- Bootstrap core CSS-->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- jQuery UI -->
        <link href="vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <!-- custom style -->
        <link href="css/suggested-improvement.css" rel="stylesheet" type="text/css">
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
        <!-- custom script -->
        <script src="js/conduct-feedback.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <!-- div feedback content -->
            <div class="row justify-content-center">

                <div class="col-sm-12 col-12 col-md-9 col-xl-9 col-lg-12 text-center feedback-content">

                    <h3 class="feedback-title" style="text-align: left">Đưa ra các đề xuất cải tiến dựa theo câu hỏi</h3>
                    <hr>
                    <form>
                        <div class="feedback-page page-active">
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 1:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Tốc độ giảng dạy của giảng viên có phù hợp với bạn hay không?</div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            
                            <!-- Question 2 -->
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 2:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Giáo án của giáo viên có đảm bảo kiến thức môn học không?</div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            
                            <!-- Question 3 -->
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 3:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Các giải đáp của bạn có được giải quyết vào lúc nào? </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        
                        <!-- PAGE 2 -->
                        <div class="feedback-page">
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 4:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Tốc độ giảng dạy của giảng viên có phù hợp với bạn hay không? </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 5:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Giáo án của giáo viên có đảm bảo kiến thức môn học không? </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 6:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Giáo án của giáo viên có đảm bảo kiến thức môn học không?  </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                           
                        <!-- PAGE 3 -->
                        <div class="feedback-page">
                             <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 7:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                     Tốc độ giảng dạy của giảng viên có phù hợp với bạn hay không?  </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 8:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Giáo án của giáo viên có đảm bảo kiến thức môn học không?  </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-outer">
                                <div class="card-header-outer">
                                    Câu hỏi 9:
                                </div>
                                <br/><br/>
                                <div class="card-text" style="padding: 15px; text-align: left">
                                    Bạn có góp ý gì thêm cho giáo viên cũng như môn học này không?   </div>
                                <div class="card">
                                    <div class="card-header">
                                        Gợi ý cải thiện
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group-suggest">
                                            <textarea class="" name="suggest-1" rows="4" cols="100%">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </form>
                </div>

            </div>
            <!-- end div feedback content -->
            <!-- div pagination -->
            <div class="row justify-content-around" style="margin-top: 10px">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                    <button class="btn btn-pagination" value="back" disabled>
                        <span class="fa fa-fw fa-backward"></span> Quay lại
                    </button>
                    <button class="btn btn-pagination" value="next">
                        Tiếp
                        <span class="fa fa-fw fa-forward"></span>
                    </button>
                </div>
            </div>
            <!-- end div pagination -->
            <!-- div progress bar && submit -->
            <div class="row justify-content-center" style="margin-top: 10px">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 btn-group text-center">
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-submit col-12" data-toggle="modal" data-target="#confirmModal" disabled>
                            Tiếp theo
                        </button>
                    </div>
                </div>
            </div>
            <!-- end div progress bar && submit -->
        </div>
        <!-- end div container -->

 
    </body>

</html>